.add-task-container {
    border-right: 1px solid #cab690;
    border-left: 1px solid #cab690;
    width: 100%;
    padding: 10px 0;
}

.task-form {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#task-input {
    background-color: #d8c999;
    border: none;
    font-family: inherit;
    border-radius: 5px;
    padding-left: 5px;
    width: 150px;
}

#task-button {
    cursor: pointer;
    border: none;
    background-color: rgb(84, 12, 201);
    color: white;
    height: 30px;
    width: 40px;
    border-radius: 5px;
}

#task-button:hover {
    background-color: rgb(123, 74, 202); 
}