.friend-and-delete-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-and-delete-button:hover {
    background-color: rgb(240, 240, 240);
}

.friend-link {
    /* color: rgb(0, 196, 0); */
    /* color: black; */
    color: rgb(84, 12, 201);
}

.friend-link:hover {
    color: rgb(141, 70, 255);
}

.friend-delete-button {
    font-size: 18px;
    font-weight: lighter;
    color: gray;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
}

.friend-delete-button:hover {
    color: white;
    background-color: red;
    border-radius: 2px;
}
