
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(255, 255, 255, 0.5);
    place-items: center;
    box-shadow: 0 0 10px #b4ac7c;
    border-radius: 5px;
    width: 20em;
    scrollbar-width: none;
    margin-top: 30px;
}

.grid::-webkit-scrollbar {
    display: none;
}

@media (min-width: 992px) {
    .grid {
        width: 40em;
    }
}