.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    background-color: #fff4b7;
    height: 100vh;
}

.prof-page-button {
    width: 90px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: rgb(84, 12, 201);

    margin-top: 40px;
}

.prof-page-button:hover {
    background-color: rgb(123, 74, 202); 
}
