/* .home-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(91,84,207);
    background: linear-gradient(32deg, rgba(91,84,207,1) 0%, rgba(237,217,145,1) 72%); 
} */