.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input[type=text],
.signup-form input[type=password],
.login-form input[type=text],
.login-form input[type=password] {
    width: 200px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;
}

/* For rendering errors */
.signup-form p, .login-form p {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 30px;
}




.first-input-field {
    margin-bottom: 6px;

    display:flex;
    justify-content: center;
}

.rendered-error {
    font-family: "Helvetica Neue";
    color: red;
    display: flex;
    justify-content: center;
}
