.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 58px;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 280px;
}

.signup-form input[type=text],
.signup-form input[type=password],
.login-form input[type=text],
.login-form input[type=password] {
    width: 220px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid black;
    outline: none;

    /* [NOTE]: testing out different displays for input field text */
    padding-left: 8px;
    /* text-align: center; */
}

.first-input-field {
    margin-bottom: 6px;

    display:flex;
    justify-content: center;
}

/* For rendering errors */
.signup-form p, .login-form p {
    display: flex;
    justify-content: flex-start;
    width: 220px;
    height: 32px;
}

.rendered-error {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    color: red;
    display: flex;
    justify-content: center;
}

/* [WIP] Demo Button ----------------- >*/

.demo-button-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-button {
    background-color: rgb(84, 12, 201);
    margin-bottom: 32px;
    width: 240px;
    font-size: 16px;
    color: white;
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.demo-button:hover {
    background-color: rgb(123, 74, 202); 
}

/* Straight Line (for the "or" in Demo Log In Button (session_form.jsx) */
.demo-straight-line {
  width: 260px; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 20px 0 10px; 
} 

.demo-straight-line span { 
  background:rgb(255, 244, 183);; 
  padding:0 8px; 
}

@media (max-width: 768px) {
    .demo-button {
        width: 100px;
    }  

    .demo-straight-line {
        width: 120px; 
    } 
}