.profile-page-background {
    position: absolute;
    background-color: rgb(255, 244, 183);
    height: 100vh;
    width: 100vw;
}

.profile-header-parent {
    text-align: center;
}

.profile-header {
    display: inline-block;

    color: black;
    /* font-family: "Helvetica Neue"; */
    font-weight: bold;
    font-size: 28px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.straightline {  
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin-bottom: 30px; 
}

/* ----------------------------------------------------------------> */

.profile-page-body {
    display: flex;
    justify-content: center;
}

.prof-page-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* [NOTE] margin = top/right/bottom/left */
    margin: 0px 0px 0px 40px;
    height: 280px;

    /* border: 1px solid black; */
}

/* [NOTE] gives margin between Left + Right sides in iPad+ wider */
@media (max-width: 768px) {
    .prof-page-right {
    /* [NOTE] margin = top/right/bottom/left */
    margin: 0px 0px 0px 0px;
    }      
}

.user-name {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

.friends-list {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.profile-page-buttons {
    display: flex;
    flex-direction: column;  
}

.clear-grid-button {
    width: 120px;
    font-size: 16px;

    border-radius: 4px;
    color: white;
    cursor: pointer;

    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.clear-grid-button {
    background-color: rgb(84, 12, 201);
    /* [Margin Bottom] - for dead space for cancel Clear Grid Button */
    margin-bottom: 66px;
}

.clear-grid-button:hover, .back-to-home-button:hover {
    background-color: rgb(123, 74, 202); 
}

/* [WORKS] Back Button */
.back-to-home-button {
    width: 50px;
    font-size: 16px;

    border-radius: 4px;
    color: white;
    cursor: pointer;

    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(84, 12, 201);
    margin-top: 60px;
    margin-left: 76px;
}

.logout-button {
    width: 120px;
    font-size: 16px;

    border-radius: 4px;
    color: white;
    cursor: pointer;

    display: inline-block;
    text-align: center;
    background-color:black;
    padding: 10px;
    margin: 10px;

    margin-bottom: 60px;
}

.logout-button:hover {
    background-color: red;
}

/* [WIP] Friends List (used to be Dropdown) -----------------------------> */
.friends-dropdown-parent {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-dropdown-title {
    width: 168px;
    font-size: 16px;

    /* border-radius: 4px; */
    color: white;
    background-color: rgb(84, 12, 201);

    display: inline-block;
    padding: 10px;
    text-align: center;
}


.friends-dropdown-true {
    position: relative;
    background-color: white;
    border: 1px solid white;

    /* [WORKS] Scrollable List */
    width: 180px;
    height: 220px;
    overflow: hidden; 
    overflow-y: scroll;
}

.friends-dropdown-parent ul li {
    padding: 4px;
}

/* [WORKS] Confirm Clear --------------------------------------------------> */
.confirm-clear-button {
    width: 120px;
    font-size: 16px;

    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: red;

    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.confirm-clear-button:hover {
    background-color: rgb(253, 110, 110);
}

/* Don't Clear Button */
.dont-clear-button {
    width: 120px;
    font-size: 16px;

    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: green;

    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.dont-clear-button:hover {
    background-color: rgb(92, 197, 92);  
}

