.profile-page-background {
    position: absolute;
    background-color: rgb(255, 244, 183);
    height: 100vh;
    width: 100vw;
}

.profile-header-parent {
    text-align: center;
}

.profile-header {
    display: inline-block;

    color: black;
    /* font-family: "Helvetica Neue"; */
    font-weight: bold;
    font-size: 30px;

    margin-top: 40px;
    margin-bottom: 40px;
}

.prof-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin - 3 values: top, left+right, bottom */
    margin: 0px 170px 0px;
    height: 280px;

    border: 1px solid black;
}

.user-name {
    font-weight: bold;
    font-size: 22px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.friends-list {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.profile-page-buttons {
    display: flex;
    flex-direction: column;  
}

.clear-grid-button, .logout-button {
    width: 100px;
    font-size: 16px;

    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: rgb(84, 12, 201);

    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.clear-grid-button:hover, .logout-button:hover {
    background-color: rgb(123, 74, 202); 
}

.back-to-home-button {
    width: 34px;
    font-size: 16px;

    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: rgb(84, 12, 201);

    display: inline-block;
    padding: 10px;
    text-align: center;
    
    /* [TEST] Goal: make back button in bottom-right corner */
    /* [ISSUE] using position:absolute + percents right now. Bad (?) */
    /* [To Try Out] maybe use @media (?) */
    position: absolute;
    top: 60%;
    left: 60%;
}

/* [TEST] Dropdown ---------------------------------------------------------> */

.friends-dropdown-parent {
    margin-top: 20px;
    margin-bottom: 40px;
}

.friends-dropdown-title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* [NOTE] ref code - change to fit Friends List */
.friends-dropdown-true {
    position: absolute;
    background-color: white;
    border: 1px solid white;
    opacity: 1;
    z-index: 2;

    top: 50%;
    left: 50%;
}
.friends-dropdown-false {
    display: none;
}


/* [TEST][WORKS] Scrollable List */
.friends-dropdown-true {
    height: 100px;
    overflow: hidden; 
    overflow-y: scroll;
}
