#friend-task-list-container {
    margin-top: 30px;
    width: 322px;
    height: 468px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffeeb7;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.friend-task-list-title {
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #bb8a3b;
    justify-content: space-between;
    border-bottom: 1px solid #e6cfa4;
}

.friend-task-list-title h1 {
    cursor: default;
}

.friend-task-list-entries {
    overflow-y: scroll;
}

.friend-task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 40px;
    border-bottom: 1px solid #ffe6b7;
}

.friend-task-list-item h1 {
    cursor: default;
}

#friend-task-list-container::-webkit-scrollbar {
    display: none;
}
