.app-name {
    display: flex;
    justify-content: center;

    color: black;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 30px;

    margin-bottom: 40px;
}

.splash-body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

    /* margin - 3 values: top, left+right, bottom */
    margin: 0px 170px 0px;
    height: 280px;
    /* border: 1px solid black; */
}

.splash-blurb p {
    font-family: "Helvetica Neue";
    font-size: 22px;
}

.splash-image {
    width: 100px;
    height: 100px;

    margin-top: 40px;
    margin-bottom: 60px;
}

.splash-background {
    padding-top: 40px;
    background-color: rgb(255, 244, 183);
    height: 100vh; /* viewport height */

    /* [NOTES - FAILED TEST] Gradient (doesn't look great) */
    /* background-image: linear-gradient(rgb(255, 217, 0), rgb(255, 255, 255), rgb(133, 71, 214)); */
}

.first-buttons {
    display: flex;    
    justify-content: center;
}

/* iPad width: around 768px + */
@media (max-width: 768px) {
    .first-buttons {
        display: flex;    
        flex-direction: column;
        align-items: center;
    }

    .splash-image {
        width: 90px;
        height: 90px;

        margin-top: 46px;
        margin-bottom: 60px;
    }   
}

.signup-button, .login-button, .back-to-splash-button, .submit-button {
    width: 100px;

    font-family: "Helvetica Neue";
    border-radius: 4px;

    /* text color */
    color: white;
    cursor: pointer;
    background-color: rgb(84, 12, 201);

    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.signup-button:hover, .login-button:hover, .back-to-splash-button:hover, .submit-button:hover {
    background-color: rgb(123, 74, 202); 
}
