.app-name {
    display: flex;
    justify-content: center;

    color: black;
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 30px;

    margin-bottom: 40px;
}

.splash-blurb {
    display: flex;
    justify-content: center;
    /* margin - 3 values: top, left+right, bottom */
    margin: 0px 170px 0px;

    height: 280px;
    font-family: "Helvetica Neue";
    font-size: 22px;

    /* border: 1px solid black; */

    /* [TEST] */
    /* box-sizing: border-box; */
}

.splash-background {
    padding-top: 40px;
    background-color: rgb(255, 244, 183);
    height: 100vh; /* viewport height */

    /* Gradient (doesn't look great) */
    /* background-image: linear-gradient(rgb(255, 217, 0), rgb(255, 255, 255), rgb(133, 71, 214)); */
}

.first-buttons {
    display: flex;    
    justify-content: center;
}

/* iPad width: around 768px + */
@media (max-width: 768px) {
    .first-buttons {
        display: flex;    
        /* [WIP] take "flex-direction: column;" out -> buttons are now side by side */
        flex-direction: column;
        align-items: center;
    }
}

.signup-button, .login-button, .back-to-splash-button, .submit-button {
    width: 100px;

    font-family: "Helvetica Neue";
    border-radius: 4px;

    /* text color */
    color: white;
    cursor: pointer;
    background-color: rgb(84, 12, 201);

    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.signup-button:hover, .login-button:hover, .back-to-splash-button:hover {
    background-color: rgb(123, 74, 202); 
}
