#task-categories-container {
    width: 35vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .5s cubic-bezier(0, 0.52, 0, 1);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffeeb7;
    border-right: 1px solid #a99777;
    display: grid;
    grid-template-rows: 50px 1fr 80px;
}

#task-categories-container.hide {
  transform: translate3d(-36vw, 0, 0);
}
 
#task-categories-container.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.categories-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #bb8a3b;
    border-bottom: 1px solid #e4cca2;
}

.categories-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.category-container {
    width: 85%;
    margin: 10px 0;
}

.category-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    background-color: #d8c999;
    border-right: 1px solid #cab690;
    border-top: 1px solid #cab690;
    border-left: 1px solid #cab690;
}

.category-info h1,
.category-info h2 {
    margin: 10px;
}

.category-info h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-info h2 {
    background-color: #ecdfb9;
    padding: 2px 5px;
    border-radius: 50%;
    /* width: 30px */
}

#delete-category {
    margin: 20px 10px;
    line-height: 0.8;
    cursor: pointer;
}

#delete-category:hover {
    color: red;
}

.category-tasks {
    background-color: ffeeb7;
    border-bottom: 1px solid #cab690;
    border-right: 1px solid #cab690;
    border-left: 1px solid #cab690;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: normal;
    /* justify-content: flex-start; */
}

.task-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 10px 0;
}

.task-entry div {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    border-bottom: 1px solid #e6cfa4;
}

@media (max-width: 992px) {
    #task-categories-container {
        width: 70vw !important;
    }

    #task-categories-container.hide {
    transform: translate3d(-71vw, 0, 0);
    }
    
    #task-categories-container.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
    }
}

select#category-color-select {
    margin-left: 10px;
}

#createCategoryTitle {    
    background-color: #d8c999;
    border: none;
    font-family: inherit;
    border-radius: 5px;
    padding-left: 5px;
    width: 60%;
}

button#createCategoryButton {
    margin-top: 5px;
    background-color:rgb(84, 12, 201);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button#createCategoryButton:hover {
    background-color: rgb(123, 74, 202);
}

.task-entry .task-icon-title {
    display: flex;
    border-bottom: none;
    align-items: center;
}

.task-entry i{
    margin-right: 5px;
    color: red;
    cursor: pointer;
}

.task-entry i:hover{
    color: rgb(248, 94, 94)
}

.category-form-container {
    border-top: 1px solid #e4cca2;
    width: 100;
    overflow-x: hidden;
    align-items: center;
}

.category-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
}

.categoryForm {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}