.bucket {
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    border: 3px solid #d2c999;
    border-radius: 5px;
}

.bucket-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.7s;
}

.task {
    width: 2em;
    height: 2em;
    background-color: #fff4b7;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.task-time {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.task-time h1 {
    cursor: default;
    user-select: none;
}

@media (min-width: 992px) {
    .task {
        width: 5em;
        height: 5em;
    }

    .bucket {
        width: 5em;
        height: 5em;
    }
}