.task {
    width: 3em;
    height: 3em;
    background-color: hotpink;
    border-radius: 5px;
}

.bucket {
    width: 3em;
    height: 3em;
    margin: 1em;
    padding: 1em;
    border: 1px dashed black;
    border-radius: 5px;
}

@media (min-width: 992px) {
    .task {
        width: 5em;
        height: 5em;
    }

    .bucket {
        width: 5em;
        height: 5em;
    }
}